* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: var(--primary_font);
    color: var(--additional);
    font-size: 16px;
    max-width: 2000px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;

}

/* variables */
:root {
    --primary: #E3D7D7;
    --secondary: #7A7A7A;
    --additional: #54595F;
    --primary_font: 'Poppins', sans-serif;
    --secondary_font: 'Rubik Regular';
}

/* fonts */
@font-face {
    font-family: Rubik Regular;
    src: url(../assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Roboto Slab;
    src: url(../assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto Condensed;
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}


/* mobile styles */

.menu {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 10%;
    padding: 0 20px;
    box-shadow: 3px 3px 6px black;
    z-index: 2;
}

.menu_burger {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}


.menu_burger .fas {
    font-size: 1.4em;
    display: none;
    transition: .8s;
    color: var(--additional);
    opacity: 0.8;
}

.menu_nav.show {
    transform: translateX(0);
}

.menu_burger .fas.show {
    display: block;
}

.menu_logo {
    color: var(--additional);
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.menu_logo img {
    height: 60px;
    width: auto;
}


/* .menu_logo p:nth-child(2) {
    font-size: 0.6em;
} */

.menu_nav {
    position: fixed;
    top: 10%;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    background-color: white;
    transition: .5s;
    z-index: 1;
    padding: 30px;
    /* box-shadow: 3px 3px 6px black; */

}

.menu_list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 3px 2px 2px var(--primary);
    line-height: 4em;
    list-style: none;
}


.menu_link {
    text-decoration: none;
    color: inherit;
}

.main {
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
}

.home {
    position: relative;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    background-image: url(../assets/img/home-foto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--secondary_font);
    overflow: hidden;

}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

.home_quote {
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 0.8em;
    letter-spacing: 2px;
    line-height: 1.6em;
    font-weight: 100;
    padding: 1%;

}

.home_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.home_scroll span {
    display: block;
    height: 15px;
    width: 15px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    transform: rotate(45deg);
    margin: -2px;
    animation: scroll 4s infinite;
}

.home_scroll span:nth-child(2) {
    animation-delay: -.2s;
}

.home_scroll span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-10px, -10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.about_me {
    position: relative;
    overflow: hidden;
    padding: 50px 25px;
    text-align: center;
    margin: auto;
    font-size: 0.8em;

}

.about_me_leaf {
    height: 60px;
    width: auto;
    text-align: center;
    margin: 20px auto 30px;
}

.about_me_leaf img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.6;

}

.about_me_header {
    text-transform: uppercase;
    font-size: 1.2em;
}

.about_me_line {
    display: block;
    height: 2px;
    width: 0vw;
    background-color: var(--primary);
    margin: 20px auto;
    /* transform: translateX(-100vw); */
    transition: 2s;
}

.about_me_line.active {
    width: 30vw;
    /* transform: translateX(0); */
}

.about_me_description {
    line-height: 1.8em;
}

.big-eclipse {
    position: absolute;
    top: -40%;
    right: -70%;
    z-index: -1;
    opacity: 0.3;
    transform: scale(0.6);
}

.mid-eclipse {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -1;
    transform: scale(0.5);
    opacity: 0.3;
}

.img_me {
    max-height: 20vh;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 4px var(--secondary);
    margin: 30px auto 20px;
}

.offer {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.offer_header {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.2em;
}


.offer_container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 70%;
    margin: auto;
    text-align: center;
}

.offer_img {
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.offer_img img {
    width: 100%;
}

.layer h3 {
    margin-top: 2px;
    text-transform: uppercase;
    font-weight: 400;
}


.offer_line {
    display: block;
    height: 1px;
    width: 0;
    background-color: var(--primary);
    margin: 25px auto;
    transition: 2s;
}

.offer_line.active {
    width: 30vw;
}

.offerlist {
    list-style: none;
    line-height: 2.4em;
}

.offerlist p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.offerlist i {
    padding-right: 3px;
}

.portfolio {
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
    font-size: 0.8em;
}

#portfolio_section {
    position: absolute;
    transform: translateY(-60px);
}

.portfolio_leaf {
    width: 100px;
    height: auto;
    margin: 40px auto 15px;
}

.portfolio_leaf img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.6;
}

.portfolio_header {
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 20px;
}

.portfolio_quote {
    line-height: 1.8em;
    padding-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery a {
    display: block;
    padding: 1% 1%;
    cursor: pointer;
}

.gallery img {
    overflow: hidden;
    height: 100px;
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.portfolio i {
    color: var(--secondary);
    font-size: 2.5em;
}

.contact {
    background-image: url(../assets/img/contact_background.jpg);
    background-position: cover;
    margin-top: 50px;
    text-align: center;
    font-size: 0.6em;
    line-height: 2em;
    position: relative;
    width: 100vw;

}

.contact_header {
    font-size: 1.4em;
    padding: 10px 0;
}

.contact-col input,
.contact-col textarea {
    width: 80%;
    padding: 10px;
    margin: 3px auto;
    border: none;
    font-size: 1.4em;
    box-shadow: 3px 2px 3px #a8a2a2;
    background-color: #f5eeee;
}

.contact-col input:focus,
.contact-col textarea:focus {
    border: none;

}

.contact-col button {
    padding: 5px 10px;
    color: var(--additional);
    border: none;
    box-shadow: 3px 2px 3px #a8a2a2;
    background-color: #f5eeee;
    font-size: 1em;
}

.contact_data {
    margin-top: 10px;
    list-style: none;
    opacity: 1;
    z-index: 3;
}

git address .contact i {
    font-size: 9px;
}

.copyright {
    margin-top: 10px;
    font-size: 0.8em;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 18px;
    }

    .about_me_leaf,
    .portfolio_leaf {
        height: 60px;
        width: auto;
    }

    .gallery img {
        height: 120px;
    }
}


/* large tablet & laptop styles */
@media screen and (min-width: 960px) {


    .menu_burger {
        display: none;
    }

    .menu_nav {
        transform: translate(0);
        top: 0;
        background-color: transparent;

    }

    .menu_list {
        flex-direction: row;
        justify-content: flex-end;
        line-height: 1.2em;
        padding: 0 20px;
        height: auto;
    }

    .menu_link {
        padding: 0 10px;
    }

    .menu_link:hover {
        opacity: 0.7;
    }

    .about_me_wrapper {
        display: flex;
        justify-content: center;
        margin: 30px 15%;
        justify-content: space-around;
        align-items: center;
        width: 70%;

    }

    .about_me_description {
        padding: 0 50px;
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(95, 83, 83, 0.7);
    }


    .img_me {
        margin: 0 auto;
    }

    .gallery img {
        height: 150px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {

    .menu_logo {
        padding-left: 50px;
    }



    .gallery img {
        height: 180px;
    }
}